version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: kremna_postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: kremna_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
      
      - ./db:/docker-entrypoint-initdb.d 
      
volumes:
  postgres_data:
    driver: local
